<div class="widget">
    <div class="content text-right mt-5">
        <p><b>{{t "Contact Us"}}</b></p>
        <p>{{t "contact@finterlabs.com "}} <span class="iconify" data-icon="bx:envelope" style="font-size:1.5rem;"></span></p>
        <p>{{t "Helsinki, Finland (60.171, 24.933) "}} <span class="iconify" data-icon="bi:geo-alt" style="font-size: 1.5rem;"></span></p>
    </div>
</div>