<div class="widget">
    <h4 class="widget-title">{{t "Resources"}}</h4>
    <div class="content navigation">
        <h5 class="widget-title">{{t "Technical Resources"}}</h5>
        <ul>
            <a href="/documentation/">Documentation</a>
        </ul>
        <div class="mt-3">
            <h5 class="widget-title">{{t "Non Technical Resources"}}</h5>
            <ul>
            {{navigation type="secondary"}}
            </ul>
        </div>
    </div>
</div>