{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="main-content-area">
    <div class="container">
        <div class="row">
            <div class="col">
                {{#post}}
                <div class="single-post-wrap archive-page{{^if feature_image}} no-image{{/if}}">
                    <div class="post-image" {{#if feature_image}} style="background-image: url({{feature_image}});"{{/if}}>
                        <div class="content-wrap">
                            <h1 class="title">
                                {{title}}
                            </h1>
                        </div>
                    </div>
                </div>
                {{/post}}
            </div>
        </div>
        
    </div>
</div>