$primary-color: #ED3237;
$secondary-color: #353846;
$text-dark: #202020;
$text-light: #AEAEAE;
$text-normal: #000000;
$white: #ffffff;
$black: #000000;
$success: #0ca910;
$error: #f0134d;

/*=====================================================
    Fonts
=====================================================*/
$sans-serif: 'Montserrat', sans-serif;
