.post-item-wrap {
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    .post-item {
        display: flex;
        flex: 1 0 400px;
        margin: 0px 15px 30px 15px;
        min-height: 384px;
        position: relative;
        color: $white;
        overflow: hidden;
        &.no-image {
            background: $secondary-color;
            transition: background 0.3s ease;
            &:hover {
                background-color: $primary-color;
            }
        }
        .post-image {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            &:before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                background: rgba($black, 0.4);
                transition: background 0.3s ease;
            }
        }
        .permalink-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 2;
        }
        .featured-icon {
            z-index: 3;
            position: absolute;
            top: -40px;
            right: -45px;
            padding: 50px 40px 10px 40px;
            background: rgba($primary-color, 0.95);
            transform: rotate(45deg);
            transition: background 0.3s ease;
            svg {
                width: 16px;
                height: 16px;
                transform: rotate(-45deg);
            }
        }
        .read-time {
            z-index: 3;
            font-size: 0.875rem;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            position: absolute;
            top: 40px;
            left: 40px;
            opacity: 0;
            transition: opacity 0.3s ease;
            pointer-events: none;
        }
        .content-wrap {
            z-index: 3;
            align-self: flex-start;
            position: absolute;
            bottom: 48px;
            left: 40px;
            right: 40px;
            pointer-events: none;
            a {
                color: $white;
                pointer-events: auto;
            }
            .tag-wrap {
                font-size: 0.875rem;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                margin-bottom: 8px;
                a {
                    display: inline-flex;
                    margin-right: 20px;
                    margin-bottom: 8px;
                    position: relative;
                    &:before {
                        content: "";
                        width: 100%;
                        height: 2px;
                        background: $white;
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        visibility: hidden;
                        opacity: 0;
                        transition: all 0.3s ease;
                    }
                    &:hover {
                        &:before {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
            .post-meta {
                font-size: 0.875rem;
                letter-spacing: 0.5px;
                margin-top: 16px;
                a {
                    font-weight: 600;
                    display: inline-flex;
                    position: relative;
                    &:before {
                        content: "";
                        width: 100%;
                        height: 2px;
                        background: $white;
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        visibility: hidden;
                        opacity: 0;
                        transition: all 0.3s ease;
                    }
                    &:hover {
                        &:before {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &:hover {
            .post-image {
                &:before {
                    background: rgba($primary-color, 0.95);
                }
            }
            .featured-icon {
                background: transparent;
            }
            .read-time {
                opacity: 1;
            }
        }
    }
}

// .post-wrap {
//     background-color: $white;
//     margin-bottom: 48px;
//     box-shadow: 0px 0px 30px rgba(#9E9E9E, 0.10);
//     .featured-image {
//         padding-bottom: 56.25%;
//         background-size: cover;
//         background-position: center center;
//     }
//     .post-content-wrap {
//         padding: 40px 64px;
//         .post-head {
//             .tag-wrap {
//                 margin-bottom: 28px;
//                 a {
//                     background-color: $color-dark;
//                     color: white;
//                     text-transform: uppercase;
//                     font-size: 0.875rem;
//                     font-weight: 600;
//                     line-height: 2;
//                     padding: 0px 10px;
//                     letter-spacing: 1px;
//                     margin: 4px;
//                     display: inline-flex;
//                     &:hover {
//                         color: $color-light;
//                     }
//                 }
//             }
//             .title {
//                 margin-bottom: 24px;
//             }
//             .post-meta {
//                 font-size: 0.875rem;
//                 letter-spacing: 1.5px;
//                 color: $color-light;
//                 margin-bottom: 32px;
//                 a {
//                     color: $color-light;
//                     &:hover {
//                         color: $color-dark;
//                     }
//                 }
//             }
//         }
//         .post-content {
//             line-height: 2;
//         }
//         .read-more-wrap {
//             margin-top: 32px;
//         }
//     }
// }